<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Search History</h4>
            <div id="education_fields"></div>
        </div>
    </div>
</div>
