<div class="form-group">
    <%= f.label :amount_received, 'Cash Received' %>
    <%= f.text_field :amount_received, class: 'form-control' %>
</div>
<div class="actions">
    <%= f.submit "Continue", class: 'btn btn-danger m-r-10' %>
</div>
